<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" media="screen" href="/static/styles/bootstrap.css">
	<link rel="stylesheet" media="screen" href="/static/styles/home.css">
	<title>Home</title>
</head>
<body background="../static/images/back.jpg">
	<div class="wrapper">
		<div class="displayed">
			<a href="/index/"><img class="display" src="../static/images/burning.gif"/></a>
		</div>
		<hr>
		<div>
			<h4 class="top">Who ever appeal's to the law of his fellow man is either a fool or a coward.</h4>
			<h4>Who ever cannot take care of himself without that law is both.</h4>
			<h4>For a wounded man shall say to his assailant,</h4>
			<h4>if live i will kill you if i die you are forgiven. </h4>
			<h4>Such is a rule of HONOR.</h4>
		</div>
	</div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="/static/scripts/jquery-1.8.2.min.js"><\/script>')</script>
	<script type="text/javascript" src="/static/scripts/bootstrap.js"></script>
	<script type="text/javascript" src="/static/scripts/master.js"></script>
</body>
</html>






















{# <h1>Hi Django Bitch</h1> #}

{# <div>{{ death_metal_article }}</div> #}
{# <div>{{ trash_metal_article }}</div> #}
{# <div>{{ grind_core_article }}</div> #}